.singlePost {
    flex: 9;
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}


.singlePostImg{
    width: 100%;
    height: 600px;
    border-radius: 30px;
    object-fit: cover;
}


.singlePostTitle{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 28px;
}

.singlePostEdit{
    float: right;
    font-size: 20px;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}


.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(225, 134, 15);
}

.singlePostDescription {
    color: rgb(84, 81, 80);
    font-size: 20px;
    line-height: 25px;
}